<h2><%= group %><h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
<% contacts.sort_by { |c| c[:name] }.each do |contact| %>
  <tr>
    <td><%= contact[:name] %></td>
    <td><%= contact[:email] %></td>
    <td><%= contact[:phone] %></td>
  </tr>
<% end %>
</table>

